/* Sidebar.module.css */

.sidebarItem {
  border: 1px solid transparent; 
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  color: #495057;
}

.sidebarMath:hover {
  color: #2563eb !important; 
  border-color: #2563eb !important;
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.2); 
}

.sidebarBio:hover {
  color: #ef4444 !important;
  border-color: #ef4444 !important;
  box-shadow: 0 0 10px rgba(239, 68, 68, 0.2);
}

.sidebarPhysics:hover {
  color: #8b5cf6 !important;
  border-color: #8b5cf6 !important;
  box-shadow: 0 0 10px rgba(139, 92, 246, 0.2);
}